PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_NAME=meeting_room_booking
DB_LOGGING=false
DB_DROP_AND_CREATE=true
NODE_ENV=development
DB_URL=postgresql://neondb_owner:npg_iBjh2rXvFLV4@ep-fancy-dream-ai5rz50s-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require